.circle-pic {
	height: 200px;
	width: 200px;
	object-fit: cover;
}

.sidebar {
	position: fixed;
}

.side-header {
	padding-top: 16px;
	padding-bottom: 32px;
}

.jumbotron > h1, {
	padding-left: 100px;
  font-family: "Vollkorn", serif;
}

.jumbotron > p {
  padding-left: 100px;
}

.borderless > .list-group-item {
	border: none;
}

.heading {
	padding-bottom: 30px;
}

.bottom {
	position: absolute;
	bottom: 15px;
}

.experience-container {
	padding-top: 50px;
}

.job-title {
	padding-top: 50px;
}

.job-description {
	padding-top: 16px;
}

.job-date {
	text-align: right;
}

.container main-image {
	padding-top: 0px;
}

.blog-body {
	padding-top: 16px;
}

.blog-body > h4 {
	padding-top: 16px;
}

.figure {
	width: 95%;
	padding-left: 5%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: block;
}

#carouselIndicator {
	margin-left: 50%;
	transform: translate(-50%);
	width: 308px;
	overflow: hidden;
	padding-bottom: 1rem;
}

.carousel-caption {
	display: block;
	opacity: 0;
	transition: .5s ease;
}

#carouselIndicator:hover .carousel-caption {
	opacity: 1;
}

#cookie-caption {
	position: absolute;
	top: 0;
}

.h3, .h5, .blog-title, h4 {
	font-family: "Vollkorn", serif;
}

@media only screen and (max-width: 992px) {
	.sidebar {
		position: static;
	}
	.bottom {
		position: static;
		padding-top: 15px;
	}
	.jumbotron > h1, .jumbotron > p {
		padding: 0px;
	}
	.jumbotron {
		text-align: center;
	}

	.title-col {
		text-align: center;
	}

	.experience-container {
		padding-top: 50px;
	}

	.job-date {
		text-align: left;
	}
}
